$gray : green;

.box {
  background: $gray;
  border: 10px solid black;
  padding: 40px 80px;
  .button {
    font-weight:bolder;
    border: 10px solid black;
    text-align: center;
    background: white;
    color: red;
  }
}
